@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox.js" type="text/javascript"></script>

    <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.fancybox-thumbs.js" type="text/javascript"></script>

    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.fancybox-buttons.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox-media.js" type="text/javascript"></script>

</head>
<body>

</body>

</html>