@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<table id="categoriesTable" class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Naziv
            </th>
            <th>
            </th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('#categoriesTable').DataTable({
                "ajax": {
                    "url": "/api/Kategorije",
                    "dataSrc": ""
                },
                "columns": [
                    { 'data': 'Id' },
                    { 'data': 'Naziv' },
                    {
                        'data': 'Actions',
                        'render': function (data, type, row, meta) {
                            return '<a class="delete-btn" href="/api/Kategorije/' + row.Id + '">Delete</a>';
                        }
                    }
                ],
                "drawCallback": function (settings) {
                    //alert('DataTables has redrawn the table');
                    $('.delete-btn').on('click', function () {
                        if (confirm("Are you sure?")) {
                            var deleteURL = $(this).attr('href');
                            $.ajax({
                                url: deleteURL,
                                type: 'DELETE',
                                success: function (result) {
                                    // ovako treba
                                    table.ajax.reload();
                                }.bind(this),
                                error: function (result) {
                                    alert("Error");
                                }
                            });
                        }
                        return false;
                    });
                }
            });
        });
    </script>
}
